<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.mapper.IAdminMapper">
	<!--관리자 유저목록 호출-->
	<select id="getUserPaging" resultType="UserDTO">
		select * from (
						  select *
						  from USER_INFO
						  order by USER_NO asc) as T1
		limit #{skip},#{amount}
	</select>

	<!--관리자 공지목록 호출-->
	<select id="getNoticePaging" resultType="NoticeDTO">
		select * from (
						  select *
						  from NOTICE
						  order by NOTICE_NO asc) as T1
		limit #{skip},#{amount}
	</select>

	<!-- 공지목록 페이징처리 -->
	<select id="NoticeTotalCount" resultType="int">
		select count(*) from NOTICE
	</select>

	<!-- 회원 목록 페이징처리 -->
	<select id="userTotalCount" resultType="int">
		select count(*) from USER_INFO
	</select>

	<!--관리자 공지작성-->
	<insert id="insertNotice" parameterType="NoticeDTO" >
		<selectKey keyProperty="notice_no" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(NOTICE_NO+1),1) FROM NOTICE
		</selectKey>
		insert into NOTICE values (#{notice_no},#{title},#{contents},#{regdate},#{adminname})
	</insert>

	<!--공지 상세보기-->
	<select id="noticeDetail" resultType="NoticeDTO">
		select * from NOTICE where NOTICE_NO=#{notice_no}
	</select>

	<!--관리자 공지 삭제-->
	<delete id="deleteNotice" parameterType="NoticeDTO">
		delete from NOTICE where NOTICE_NO=#{notice_no}
	</delete>

	<!--관리자 동호회목록 호출-->
	<select id="getClubList" resultType="ClubListDTO">
		SELECT * from BIKECLUB
	</select>

	<!--관리자 유저정보 호출 -->
	<select id="getUserInfo" parameterType="UserDTO" resultType="UserDTO">
		SELECT * from USER_INFO WHERE USER_NO=#{user_no}
	</select>

	<!-- 작성글 리스트 쿼리 -->
	<select id="getUserBoard" parameterType="UserDTO" resultType="BoardDTO">
		SELECT B.BOARD_NO, B.COURSENAME, B.TITLE, U.USER_NAME, B.REGDATE
		FROM REVIEWBOARD B, USER_INFO U
		WHERE B.USER_NO = U.USER_NO and U.USER_NO =#{user_no}
		ORDER BY B.REGDATE DESC
	</select>
	<!-- 게시판 상세보기 쿼리 -->
	<select id="userBoardDetail" parameterType="BoardDTO" resultType="BoardDTO">
		SELECT B.BOARD_NO, B.COURSENAME, B.TITLE, B.CONTENTS, B.IMGLINK, U.USER_NAME, B.REGDATE, B.USER_NO
		FROM REVIEWBOARD B, USER_INFO U
		WHERE B.USER_NO = U.USER_NO
		  AND B.BOARD_NO = #{board_no}
	</select>

	<!-- 게시판 글 삭제 쿼리-->
	<delete id="boardDelete" parameterType="BoardDTO">
		delete from REVIEWBOARD WHERE BOARD_NO=#{board_no}
	</delete>

	<!-- 회원 삭제 쿼리 -->
	<delete id="deleteUser" parameterType="UserDTO">
		delete from USER_INFO where USER_NO=#{user_no}
	</delete>

	<!-- 회원 비밀번호 체크 -->
	<select id="pwCheck" parameterType="UserDTO" resultType="int">
		select count(USER_NO) from USER_INFO where USER_PW=#{user_pw} and USER_NO=#{user_no}
	</select>

	<!-- 회원 닉네임 변경 -->
	<update id="chgName" parameterType="UserDTO">
		update USER_INFO set USER_Name=#{user_name} where USER_NO=#{user_no}
	</update>

	<!-- 회원 비밀번호 변경 -->
	<update id="chgPw" parameterType="UserDTO">
		update USER_INFO set USER_PW=#{user_pw} where USER_NO=#{user_no}
	</update>

</mapper>