<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.mapper.IimageMapper">
	<select id="getImg" resultType="ImageDTO">
		select * from CourseImage where COURSENAME=#{coursename}
	</select>
	<insert id="insertImg" parameterType="ImageDTO">
		<selectKey keyProperty="image_no" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(IMAGE_NO+1),1) FROM CourseImage
		</selectKey>
		insert into CourseImage(IMAGE_NO, COURSENAME, COURSEIMG) values (#{image_no}, #{coursename}, #{courseimg})
	</insert>

	<delete id="deleteImg" parameterType="ImageDTO">
		delete from CourseImage where COURSENAME=#{coursename}
	</delete>
</mapper>