<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.mapper.IUserMapper">
	<!--회원가입-->
	<insert id="saveUser" parameterType="UserDTO">
		INSERT INTO USER_INFO
		(USER_NO, USER_ID, USER_PW, USER_NAME, USER_MAILID, USER_MAILDOMAIN, REGDATE, AUTHORITY)
		VALUES (
					   (SELECT NULLIF (MAX(A.USER_NO),0)+1 FROM USER_INFO A),
				 #{user_id}, #{user_pw}, #{user_name}, #{user_mailid}, #{user_maildomain}, SYSDATE(), #{authority}
			)
	</insert>

	<!--아이디 중복체크-->
	<select id="idCheck" parameterType="UserDTO" resultType="UserDTO">

		SELECT CASE WHEN COUNT(USER_NO)=1 THEN 'Y' ELSE 'N' END USES_EXISTS FROM USER_INFO WHERE USER_ID=#{user_id}

	</select>

	<!--닉네임 중복체크-->
	<select id="nameCheck" parameterType="UserDTO" resultType="UserDTO">
		SELECT CASE WHEN COUNT(USER_NO)=1 THEN 'Y' ELSE 'N' END AS USES_EXISTS FROM USER_INFO WHERE USER_NAME=#{user_name}

	</select>

	<!--메일 중복체크-->
	<select id="mailCheck" parameterType="UserDTO" resultType="UserDTO">
		SELECT CASE WHEN COUNT(USER_NO)=1 THEN 'Y' ELSE 'N' END USES_EXISTS FROM USER_INFO WHERE USER_MAILID=#{user_mailid} and USER_MAILDOMAIN=#{user_maildomain}
	</select>

	<!--마이페이지 비밀번호 체크 -->
	<select id="pwCheck" parameterType="UserDTO" resultType="UserDTO">
		select USER_PW from USER_INFO where USER_PW=#{user_pw}
	</select>





</mapper>